---
import FormattedNumber from "./FormattedNumber.svelte";

interface Props {
	budgets: {
		name: string;
		spent: number;
		limit: number;
		percentage: number;
	}[];
}

const { budgets } = Astro.props;
---

<div class="px-4">
	{
		budgets.map(function (budget) {
			return (
				<a href="#top" class="block border-b">
					<div>
						<div class="mb-1 flex justify-between pt-4 text-base font-medium md:text-lg">
							<span>{budget.name}</span>
							<span>
								<FormattedNumber number={budget.spent} /> /{" "}
								<FormattedNumber number={budget.limit} />
							</span>
						</div>
						<div class="mb-4 h-4 w-full rounded-full bg-gray-200">
							<div
								class={`h-4 rounded-full
								${
									budget.percentage > 0.9
										? "bg-red-500"
										: budget.percentage > 0.7
										? "bg-yellow-300"
										: "bg-green-400"
								}`}
								style={{ width: `${budget.percentage * 100}%` }}
							/>
						</div>
					</div>
				</a>
			);
		})
	}
</div>
